<!-- src/app/floating-balloon/floating-balloon.component.html -->
<div class="floating-balloon" [ngClass]="{'expanded': isExpanded}">
    <div class="main-balloon" (click)="toggleExpand()">
      <i class="fas" [ngClass]="{'fa-chevron-down': !isExpanded, 'fa-chevron-up': isExpanded}"></i>
    </div>
    <div class="social-buttons">
      <a href="https://wa.me/918285068796" target="_blank" class="social-button whatsapp-button">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a href="https://t.me/ronaak007" target="_blank" class="social-button telegram-button">
        <i class="fab fa-telegram-plane"></i>
      </a>
      <a href="https://www.snapchat.com/add/ronaak007" target="_blank" class="social-button snapchat-button">
        <i class="fab fa-snapchat-ghost"></i>
      </a>
      <a href="https://instagram.com/ronaak007" target="_blank" class="social-button instagram-button">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://github.com/ronak922" target="_blank" class="social-button github-button">
        <i class="fab fa-github"></i>
      </a>
      <a href="mailto:sainironak975@gmail.com" class="social-button gmail-button">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
  
